<%= stylesheet_link_tag "users_details" %>

<main>
  <div class="profile">
    <div class="row1">
      <img src=<%= @user.photo %> alt=<%= @user.photo %> />
      <h1><%= @user.name %></h1>
    </div>
    <p> Posts Number: <%= @user.posts_counter %></p>
    <div class="bio">
      <h2>BIO</h2>
      <p><%= @user.bio %></p>
    </div>

    <div>
        
        <% if @user.posts_counter > 0 %>
        <h5>Posts</h5>
        <br>
        <% @user.last_three_posts_for_user.each.with_index(1) do |post, index| %>
            <div class="post">
              <h5>Post<%= "#" %> <%=index %> <%= post.Title %></h5>
              <p><%= post.Text.truncate(100,omission:'...') %></p>
              <ul>
                  <li>Comments: <%= post.comments_counter || 0 %> </li>
                  <li>Likes: <%= post.likes_counter || 0 %> </li>
              </ul>
            </div>
        <% end %>
        <a href="/users/<%= @user.id %>/posts">
            See all posts
        </a>
        <% else %>
        <p>There are no posts yet</p>
        
        <% end %>

    </div>
  </div>

</main>




