<%= stylesheet_link_tag "users" %>
<main>
  <% @users.each do |user| %>
  <div class="user">
  <img src=<%= user.ImgUrl  %> alt='<%= user.ImgUrl  %>' />
    <h1><%= user.name %></h1>
    <h2><%= user.bio %></h2>
    <h3>Posts: <%= user.posts_count %></h3>
    <p>ID: <%= user.id%></p>
  </div>
  <% end %>
</main>
