<%= stylesheet_link_tag "posts" %>

<main>
  <div class="row1">
    <img src=<%= @user.ImgUrl%> alt=<%= @user.ImgUrl%> />
    <h1><%= @user.name %></h1>
  </div>
  <div class='posts'>
    <% @posts.each do |post| %>
      <div class="post">
        <h2><%= post.title %></h2>
        <p><%= post.text %></p>
      </div>
      <div class="comments">
      <h3>comments</h3>
        <% @comments.each do |comment| %>
          <% if comment.post_id == post.id %>
          <div class="comment">
            <p><%= comment.user.name %>  <%= comment.text %></p>
          </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</main>