<%= stylesheet_link_tag "posts" %>

<main>
  <div class="row1">
    <img src=<%= @user.photo%> alt=<%= @user.photo%> />
    <h1><%= @user.name %></h1>
    <h2>Number of posts: <%= @user.posts_counter %></h2>
  </div>
  <div class='posts'>
    <% @posts.each_with_index do |post, index| %>
      <div class="post">
      <a href="/users/<%= @user.id %>/posts/<%= post.id %>">
          Post #<%= index+1 %>
        </a>
        <h2><%= post.title %></h2>
        <p><%= post.text %></p>
      </div>
      <div class="comments">
      <h3>Comments: <%= post.comments_counter %> </h3>
      <% post.five_most_recent_comments_for_post.each do |comment| %>
        <p><%= comment.author.name %> : <%= comment.text %></p>
    <% end %>
    <h3>Likes: <%= post.likes_counter %> </h3>
    <br>
    <% end %>
  </div>
</main>